/*
 *Name: [First Last]
 *UnityID: [unityID]
 *Date: [Date Completed]
 *Assignment: [Assignment Name]
 *Description: [Assignment Description]
 */
 
p {
    margin: 1em 0;
}

.class {
    color: value;
}

#id {
    property:value;
}
