/*
 *Name: Landen Lucas
 *UnityID: Lslucas
 *Date: November 8, 2025
 *Assignment: Guided Lab 4
 *Description: Guided Lab Assignment, about me webpage
 */
 
p {
    font-family: Times;
    font-size: 16px;
    color: #000000;
}

.tableborder {
    border: 1px solid #000000;
}

#photo-resize {
   max-width: 250px;
   max-height: 300px;
}
